body {
  background-color: #7FDBFF;
}

#game {
  display: grid;
  grid-template-columns: 100px 100px 100px 100px 100px;
  grid-template-rows: 200px 200px;
}

.grid-item {
  background-color: gold;
  border: 1px solid black;
}